{
	"appId":"ALIPUBFA9A964171607",
	"appKey":"ALIPUBFA9A964171607_ANDROID",
	"base64Code":"",
	"packageName":"com.ke.adas_demo",
	"rootPath":"mpaas/android/ALIPUBFA9A964171607-default",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"msync.mpaas.cn-hangzhou.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"push.mpaas.cn-hangzhou.aliyuncs.com",
	"rpcGW":"https://mgw.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"logGW":"https://mdap.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasapi":"https://mpaasapi.mpaas.cn-hangzhou.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://mrtc.mpaas.cn-hangzhou.aliyuncs.com/ws",
	"mdc":"https://mdc.mpaas.cn-hangzhou.aliyuncs.com",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"M3xJ5E94rBfI9bolVAWzsM7GN7ueMCCAGMRIjue3CgjFgGgwQumwug7l4qJj3fVJyf7lblwhDLcXpkrsb7Vl1wQ9MlKdiC6KuXQoAX+3XeAr7jlZarVd9I2vin07a2YJ09t/w361GzqNwc1f440KuPiPAY/Y+TR6D+2sS+RraC71/reRu9G9rtOPK51CMFuxs9g3+qQ91Tt5p5ZOGTt9R4rD7blu8XxRRyEKrtRB+IPRnoIgfyU3+aew5feUknynDMAugzxFU2WUdGfZKAbsVHINZrdvcGjbvcD1lPHlxj0Pojvz8Gnwsjl9jMBwPPBGJ4BExY0aydBXkTBXR9SnSQ=="
}